// =============================================================================
// /etc/apt/apt.conf.d/50unattended-upgrades
// Generiert von Ansible OS Hardening Role
// =============================================================================

Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}";
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

// Pakete die NICHT automatisch aktualisiert werden sollen
Unattended-Upgrade::Package-Blacklist {
};

// Automatisch neu starten wenn nötig
Unattended-Upgrade::Automatic-Reboot {{ "true" if os_unattended_upgrades_reboot else "false" }};
Unattended-Upgrade::Automatic-Reboot-Time "{{ os_unattended_upgrades_reboot_time }}";

// E-Mail bei Fehlern
{% if os_unattended_upgrades_mail != "" %}
Unattended-Upgrade::Mail "{{ os_unattended_upgrades_mail }}";
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}

// Alte Kernel-Versionen entfernen
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

// Verbose Logging
Unattended-Upgrade::Verbose "false";
Unattended-Upgrade::Debug "false";
